<footer class="fixed bottom-0 left-0 w-full border-t border-zinc-800 bg-[#090D18]">

  <div class="max-w-7xl mx-auto px-8 py-6">

    <div class="flex flex-col md:flex-row justify-between items-center gap-4">

      <div>

        <h2 class="font-bold text-lg">
          🎮 Let's Game About It
        </h2>

        <p class="text-zinc-500 text-sm mt-1">
          Compartilhe reviews e descubra novos jogos.
        </p>

      </div>

      <p class="text-zinc-500 text-sm">
        © 2026 Let's Game About It
      </p>

    </div>

  </div>

</footer>